


@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contact List</h1>


<ol>
    @foreach (var customer in Model.Customers)
    {
        <li>
            <a href="#" data-toggle="modal" data-target="#myModal">@customer.Name</a>
        </li>
            }

    </ol>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <table border="1">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Notes</th>
                    </tr>
                    @foreach (var customer in Model.Customers)
                    {
                        <tr>
                            <td>@customer.Name</td>
                            <td>@customer.Email</td>
                            <td>@customer.Phone</td>
                            <td>@customer.Address</td>
                            <td>@customer.Notes</td>
                        </tr>
                    }

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
